<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Default Title</title>
<link rel="shortcut icon" type="x-icon" href="images/blueorchid.png?">
<link rel="stylesheet" href="styles/default.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Updock&display=swap" rel="stylesheet">
<script src="https://lint.page/kit/880bd5.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="scripts/page-titles.js"></script>
