@charset "utf-8";

/* ---- Colors-----
#FBF8CC
#FDE4CF
#FFCFD2
#F1C0E8
#CFBAF0
#A3C4F3
#90DBF4
#8EECF5
#98F5E1
#B9FBC0
*/
html {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: #d3effc;
    font-family: "Andika", serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    color: #90dbf4;
    align-items: center;
    text-align: center;
    padding: 1rem auto;
    margin-top: 1rem;
}   

nav {
    align-items: center;
    text-align: center;
    background-color: #cfbaf0;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul {
    margin: 1rem;
    padding: 1rem;
}

nav ul li {
    list-style-type: none;
    padding: 0.1rem;
    box-sizing: border-box;
    border-bottom: white 0.2px solid;
    
}

nav ul li a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
    font-size: larger;
}



main {
    margin: 1rem;
    justify-items: center;
    align-items: center;
    background-color: white;
}
main a {
    text-decoration: none;
    color: #cfbaf0;
}

main p {
    padding: 0 0.5rem;
    text-align: left;
}

main ul {
    padding: 1rem;
    list-style-type: none;
}

h1 {
    font-family: "Updock", serif;
    font-size: 3rem;
}

h2 {
    text-align: center;
    color: #90dbf4;
}

figure {
    text-align: center;
}

figcaption {
	font-style: italic;
	padding: 0.1rem;
 }

footer {
    text-align: center;
    align-items: center;
    justify-self: center;
}

footer nav ul {
    display: flex;
    flex-direction: row;
}

footer nav ul li {
    padding: 1rem;
}


@media only screen and (max-width: 550px) {

    header {
        text-align: center;
        grid-template-columns: 1fr;
        background-color: white;
        margin: 1rem;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        list-style-type: none;
    }

    nav ul li a {
        text-decoration: none;
        list-style-type: none;
    }
    
    figure {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;
        justify-items: center;
    }
    

    footer nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}